// element-ui
@import './variable';
@import './utilities';
@import '../css/index.css';

// global
body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}
